* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*barra de navegación*/

ul {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding: 5px 15%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    font-size: 2vw;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: gray;
}


/**/

.header {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: black;
}

.header h1 {
    font-size: 6vw;
}

.one-column {
    float: left;
    width: 100%;
    padding: 10%;
}

.one-column h1 {
    font-size: 4vw;
    text-align: center;
}

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.two-column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column img {
    width: 100%;
    margin-bottom: -5px;
}

.four-column P {
    text-align: center;
}

#section-2 {
    background-color: #28ECA5;
    text-align: center;
}

#section-5 {
    background-color: #46A6FC;
}

#footer {
    background-color: black;
    color: white;
    font-size: 20px;
}

#footer p {
    font-size: 20px;
    text-align: left;
}


/* Clases auxiliares*/

.four-column-padding-0 {
    padding: 0px;
}

.padding-30 {
    padding-top: 30px;
}

#section-1 {
    filter: sepia(0);
}

.padding-top-bottom {
    padding: 10% 0;
}

@media screen and (max-width:600px) {
    .header,
    .one-column,
    x .two-column {
        width: 100%;
    }
    .two-column h1 {
        font-size: 8vw;
    }
    .two-column p {
        font-size: 4.2vw;
    }
    .four-column {
        width: 50%;
    }
    ul {
        font-size: 14px;
        padding: 0;
        overflow: auto;
        white-space: nowrap;
    }
    li {
        width: 50%;
        float: none;
    }
    li a {
        font-size: 14px;
        display: inline-block;
    }
    div.scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }
    div.scrollmenu li {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    div.scrollmenu li:hover {
        background-color: #777;
    }
}


/**/